<link rel="stylesheet" href="/css/home.css">
<body>
    <h1>Admin Page</h1>
    <h1><a href="/admin/add-question">Add question</a></h1>
    <h1><a href="/admin/add-flash-cards">Add Flash cards</a></h1>
    <h1><a href="/admin/add-notes">Add notes</a></h1>
    <a href="/logout">Logout</a>
</body>