
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="./css/index.css">
  <title>Placement Booster</title>
</head>

<body>
  <nav>

    <ul class="topnav" id="dropdownclick">
      <li class="topnav-right"><a href="/home"> home</a></li>
      <li class="topnav-right"><a href="/register"> Sign Up</a></li>
      <li class="topnav-right"><a href="/login"> Login</a></li>
      <li class="dropdownicon"><a href="javascript:void(0);" onclick="dropdownmenu()">&#9776;</a></li>
    </ul>
  </nav>



  <header>

    <h1 class="section2header"> Placement Booster </h1>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="box">
          <div class="icon">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThEr3YTkwgLgr18xZJK8eFhUo-XlTNa54vzOFeCms3czbVGxz3">
          </div>
          <label> MCQs test </label>
          <p> You can give multiple choice questions test for the practice of subjects and get practice for the
            questions asked in online assesment</p>


        </div>

      </div>

      <div class="col-4">
        <div class="box">
          <div class="icon">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThEr3YTkwgLgr18xZJK8eFhUo-XlTNa54vzOFeCms3czbVGxz3">
          </div>
          <label> Notes </label>
          <p> You will get free notes for the core fundamental subjects like OS, OOPs , DBMS and CN according to the
            questions asked in the interviews</p>


        </div>

      </div>

      <div class="col-4">
        <div class="box">
          <div class="icon">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThEr3YTkwgLgr18xZJK8eFhUo-XlTNa54vzOFeCms3czbVGxz3">
          </div>
          <label> Flash Card </label>
          <p> You can get random flash cards on topic for quick learning and revision and also get answer of some
            questions asked in interview.</p>


        </div>

      </div>
    </div>
</body>

</html>