<!-- <body>
    <form action="/login" method="post">
        <h1>Login</h1>
        <label for="email">EMAIL</label>
        <input type="email" name="email" id="email">
        <label for="password">PASSWORD</label>
        <input type="password" id="password" name="password">
        <button type="submit">Login</button>
    </form>
</body> -->

<!DOCTYPE html>
<html>
<head>
	<title>Log-In</title>
	<link rel="stylesheet" type="text/css" href="./css/loginstyle.css">
</head>
<body>

    <form action="/login" method="post">
	<div class="form-container">
		<ul class="list">
			<li><h2>Log-in</h2></li>
			<li><input type="text" name="email" placeholder="Email address"></li>
			<li><input type="password" name="password" placeholder="Enter your password"></li>
			<li><input type="submit" name="Submit" value="Log-In"></li>
			<li><a style="color: red;float: right;" href=""><h6 style="font: arial;">Forget password?</h6></a><br></li>
			<li><input type="button" name="Sign Up" onclick="location.href='register.html'" value="Sign Up"></li>
		</ul>
	</div>
    </form>
</body>
</html>