
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 20%;
  height: 60%;
}

.swiper-slide {
  /* /* display: flex; */
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  padding: 2em;
  overflow-y: scroll !important;
  /* font-size: 22px;
  font-weight: bold; */
  color: #fff;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.heading {
  /* /* display: flex; */
  padding-left: 1.5em;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.body-content {
  /* /* display: flex; */
  padding-left: 0em;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}
.swiper-slide:nth-child(11n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(12n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(13n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(14n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(15n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(16n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(17n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(18n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(19n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(20n) {
  background-color: rgb(54, 94, 77);
}
.swiper-slide:nth-child(21n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(22n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(23n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(24n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(25n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(26n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(27n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(28n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(29n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(30n) {
  background-color: rgb(54, 94, 77);
}